@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "marker_twinsregular";
  src: url("../fonts/twinmarker-webfont.woff2") format("woff2"), url("../fonts/twinmarker-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#Masthead {
  display: flex;
  background-color: #FFFFF9;
  background-image: url("../images/paper-line.png");
  height: 80px;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0px rgba(125, 121, 125, 0.71); }
  @media only screen and (max-width: 479px) {
    #Masthead {
      height: 60px; } }
  #Masthead .logo {
    color: #706C7B;
    font-family: "marker_twinsregular";
    font-size: 36px;
    font-size: 2.25rem;
    text-decoration: none;
    margin: 20px;
    display: flex; }
    #Masthead .logo img {
      padding: 10px 20px;
      margin-top: -20px; }
    @media only screen and (max-width: 559px) {
      #Masthead .logo {
        font-size: 30px;
        font-size: 1.875rem; } }
    @media only screen and (max-width: 479px) {
      #Masthead .logo {
        margin: 13px;
        font-size: 28px;
        font-size: 1.75rem; }
        #Masthead .logo img {
          width: 15px;
          height: 30px;
          margin-top: -10px; } }
    @media only screen and (max-width: 399px) {
      #Masthead .logo {
        margin: 14px;
        font-size: 24px;
        font-size: 1.5rem; } }
  #Masthead .logo:active,
  #Masthead .logo:focus,
  #Masthead .logo:hover {
    color: #8D8B93; }
  #Masthead .social-media {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
    z-index: 2; }
    #Masthead .social-media a {
      margin: 0 5px 0 5px; }
    #Masthead .social-media a:active,
    #Masthead .social-media a:focus,
    #Masthead .social-media a:hover {
      filter: invert(80%); }
    @media only screen and (max-width: 767px) {
      #Masthead .social-media {
        margin-right: 5px; }
        #Masthead .social-media img {
          width: 35px;
          height: 35px; } }
    @media only screen and (max-width: 559px) {
      #Masthead .social-media {
        margin-right: 3px; }
        #Masthead .social-media img {
          width: 30px;
          height: 30px; } }
    @media only screen and (max-width: 399px) {
      #Masthead .social-media img {
        width: 25px;
        height: 25px; } }

#CodeDecoration {
  font-family: "marker_twinsregular";
  color: #888;
  font-size: 33px;
  font-size: 2.0625rem;
  opacity: .2;
  position: absolute;
  height: 80px;
  right: 30px;
  overflow: hidden;
  z-index: 1; }
  #CodeDecoration pre {
    transform: rotate(8deg); }
  #CodeDecoration .prime {
    color: #706C7B; }
  #CodeDecoration .function-name {
    color: #8F7C87;
    font-weight: bold; }
  #CodeDecoration .string {
    color: #D6D6C8; }
  #CodeDecoration .parameter {
    color: #8D8B93; }
  #CodeDecoration .loop {
    color: #ABA1A7; }
  #CodeDecoration .number {
    color: #EAEAEA; }
  @media only screen and (max-width: 767px) {
    #CodeDecoration {
      opacity: .1; } }
  @media only screen and (max-width: 559px) {
    #CodeDecoration {
      display: none; } }

.trim {
  color: #ee0000; }

.trim:active,
.trim:hover {
  opacity: .3; }

.body-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 20px auto;
  font-family: 'Raleway', sans-serif; }
  .body-wrapper .left-col {
    margin-right: auto;
    padding-right: 20px;
    flex-basis: 900px; }
    @media only screen and (max-width: 767px) {
      .body-wrapper .left-col {
        padding-left: 10px;
        padding-right: 10px; } }
  .body-wrapper .right-col {
    margin-left: auto;
    flex-basis: 250px; }
    @media only screen and (max-width: 767px) {
      .body-wrapper .right-col {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px; } }
  @media only screen and (max-width: 767px) {
    .body-wrapper {
      flex-direction: column;
      margin: 0 auto; } }

.article-post {
  background-color: #FFFFF9;
  box-shadow: 2px 2px 6px 0px rgba(125, 121, 125, 0.71);
  padding: 10px;
  margin-top: 25px;
  color: #444; }
  .article-post a {
    color: #ee0000;
    text-decoration: none; }
  .article-post a:active,
  .article-post a:focus,
  .article-post a:hover {
    text-decoration: underline; }
  .article-post .title {
    text-decoration: none; }
    .article-post .title img {
      width: 100%; }
    .article-post .title .image {
      margin: -10px;
      margin-bottom: 10px; }
    .article-post .title h1 {
      color: #444;
      font-family: "marker_twinsregular";
      font-size: 52px;
      font-size: 3.25rem;
      padding-bottom: 5px; }
      @media only screen and (max-width: 767px) {
        .article-post .title h1 {
          font-size: 36px;
          font-size: 2.25rem; } }
  .article-post .title:active,
  .article-post .title:focus,
  .article-post .title:hover {
    text-decoration: none; }
  .article-post .by-line {
    background-color: #D6D6C8;
    font-weight: bold;
    padding: 10px;
    margin: 5px -10px; }
    @media only screen and (max-width: 767px) {
      .article-post .by-line {
        font-size: 16px;
        font-size: 1rem;
        padding: 8px 10px; } }
  .article-post .comments {
    margin-top: 10px; }
    .article-post .comments h2 {
      font-size: 32px;
      font-size: 2rem;
      font-family: "marker_twinsregular"; }
      @media only screen and (max-width: 767px) {
        .article-post .comments h2 {
          font-size: 24px;
          font-size: 1.5rem; } }
  .article-post .share-post {
    display: flex;
    margin-top: 50px;
    align-items: center; }
    .article-post .share-post h3 {
      margin-left: auto; }

.archive-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.archive-block {
  background-color: #FFFFF9;
  box-shadow: 2px 2px 6px 0px rgba(125, 121, 125, 0.71);
  padding: 10px 10px 0 10px;
  margin: 25px 10px 5px 10px;
  max-width: 250px;
  position: relative;
  text-align: center;
  flex-flow: column;
  display: flex;
  color: #444; }
  .archive-block a {
    color: #ee0000;
    text-decoration: none; }
  .archive-block a:active,
  .archive-block a:focus,
  .archive-block a:hover {
    text-decoration: underline; }
  .archive-block .title {
    text-decoration: none; }
    .archive-block .title img {
      width: 100%; }
    .archive-block .title .image {
      margin: -10px;
      margin-bottom: 10px; }
    .archive-block .title h1 {
      color: #444;
      font-family: "marker_twinsregular";
      font-size: 24px;
      font-size: 1.5rem;
      padding-bottom: 5px; }
      @media only screen and (max-width: 767px) {
        .archive-block .title h1 {
          font-size: 36px;
          font-size: 2.25rem; } }
  .archive-block .title:active,
  .archive-block .title:focus,
  .archive-block .title:hover {
    text-decoration: none; }
  .archive-block .content {
    flex: 1 1 auto; }
  .archive-block .by-line {
    background-color: #D6D6C8;
    font-weight: bold;
    padding: 10px;
    margin: 5px -10px 0; }
    @media only screen and (max-width: 767px) {
      .archive-block .by-line {
        font-size: 16px;
        font-size: 1rem;
        padding: 8px 10px; } }

.content h1, .content h2, .content h3, .content h4, .content h5, .content p, .content ul, .content ol {
  margin: 15px;
  line-height: 1.5; }
.content p {
  font-size: 21px;
  font-size: 1.3125rem; }
  @media only screen and (max-width: 767px) {
    .content p {
      font-size: 16px;
      font-size: 1rem; } }
.content strong {
  font-weight: 600; }
.content em {
  font-style: italic; }
.content h2 {
  font-size: 36px;
  font-size: 2.25rem; }
  @media only screen and (max-width: 767px) {
    .content h2 {
      font-size: 30px;
      font-size: 1.875rem; } }
.content h3 {
  font-size: 30px;
  font-size: 1.875rem; }
  @media only screen and (max-width: 767px) {
    .content h3 {
      font-size: 24px;
      font-size: 1.5rem; } }
.content h4, .content h5 {
  font-weight: 600; }
.content ul {
  padding: 0; }
  .content ul li {
    list-style: none; }
  .content ul li:before {
    content: '■';
    color: #B2B29B;
    float: left;
    width: 1em;
    font-size: 80%;
    margin-top: 1px;
    margin-right: 28px;
    display: inline-block; }
.content ol {
  counter-reset: ol-counter;
  padding: 0; }
  .content ol li {
    list-style: none;
    position: relative;
    padding-left: 40px;
    padding-bottom: 10px; }
  .content ol li:before {
    content: counter(ol-counter);
    counter-increment: ol-counter;
    color: #B2B29B;
    position: absolute;
    left: 0;
    top: -14px;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold; }
    @media only screen and (max-width: 767px) {
      .content ol li:before {
        font-size: 24px;
        font-size: 1.5rem;
        top: -8px; } }
@media only screen and (max-width: 767px) {
  .content li {
    font-size: 16px;
    font-size: 1rem; } }

#Sidebar {
  margin-top: 25px; }
  #Sidebar section:first-child {
    margin-top: 0; }
  #Sidebar section {
    background-color: #FFFFF9;
    box-shadow: 2px 2px 6px 0px rgba(125, 121, 125, 0.71);
    color: #444;
    padding: 10px;
    margin-top: 15px;
    line-height: 1.5; }
    #Sidebar section h1 {
      font-size: 24px;
      font-size: 1.5rem;
      font-family: "marker_twinsregular";
      padding: 10px;
      background-color: #D6D6C8;
      margin: -10px;
      margin-bottom: 0;
      line-height: 1; }
    #Sidebar section a {
      color: #ee0000;
      text-decoration: none; }
    #Sidebar section a:active,
    #Sidebar section a:focus,
    #Sidebar section a:hover {
      text-decoration: underline; }
  #Sidebar .content {
    padding-top: 15px;
    justify-content: space-around;
    display: flex; }
  #Sidebar .recent-articles ul {
    padding-top: 5px; }
    #Sidebar .recent-articles ul li {
      padding: 10px 0;
      border-bottom: 1px solid #f3f3f3; }
    #Sidebar .recent-articles ul li:last-child {
      border: 0; }
  #Sidebar .archive-tags ul {
    margin-top: 15px; }

#Keel {
  display: flex;
  background-color: #FFFFF9;
  background-image: url("../images/paper-line.png");
  height: 80px;
  overflow: hidden;
  color: #444;
  font-family: 'Raleway', sans-serif;
  box-shadow: 2px 2px 6px 0px rgba(125, 121, 125, 0.71); }
  #Keel .keel-wrapper {
    flex-basis: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    #Keel .keel-wrapper .copyright,
    #Keel .keel-wrapper nav {
      display: flex;
      align-items: center;
      text-align: right;
      font-weight: bold; }
      #Keel .keel-wrapper .copyright a,
      #Keel .keel-wrapper nav a {
        padding-right: 15px; }
    #Keel .keel-wrapper nav li {
      display: inline;
      margin: 3px;
      padding: 3px; }
    #Keel .keel-wrapper a {
      color: #ee0000;
      text-decoration: none; }
    #Keel .keel-wrapper a:active,
    #Keel .keel-wrapper a:focus,
    #Keel .keel-wrapper a:hover {
      text-decoration: underline; }

.pill {
  border-radius: 4px;
  border: 1px solid #ee0000;
  margin: 3px;
  padding: 3px;
  display: inline;
  line-height: 2;
  list-style: none; }

.pill-emphasis {
  font-weight: bold; }

body {
  background-color: #B2B29B;
  color: #444; }
