.body-wrapper {
	display: flex;
	justify-content: space-between;
	max-width: $max-body-width;
	margin: 20px auto;
	font-family: 'Raleway', sans-serif;

	.left-col {
		margin-right: auto;
		padding-right: 20px;
		flex-basis: 900px;

		@include mq('tablet', 'max') {
			padding-left: 10px;
			padding-right: 10px;
			flex-basis: inherit;
		}
	}

	.right-col {
		margin-left: auto;
		padding-bottom: 20px;
		flex-basis: 250px;

		@include mq('tablet', 'max') {
			margin-left: 0;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	@include mq('tablet', 'max') {
		flex-direction: column;
		margin: 0 auto;
	}
}