{% extends 'blog/base.html' %}
{% block content %}

<div class="left-col">
	{% for article in archive_list %}
		<article class="article-post">
			<header>
				<a class="title" href="{% url 'blog:article' article.machine_name %}">
					<div class="image">
						{% load static %}
						<img src="{{ article.header_image.url }}" alt="{{ article.headline }}}"></img>
					</div>
					<h1>{{ article.headline }}</h1>
				</a>
				<div class="by-line">
					Written By
					<a href="/" class="author">{{ article.author }}</a>
					on
					<span class="date">{{ article.pub_date }}</span> 
				</div>
			</header>

			<div class="content">
				@TODO
			</div>

			<!--div class="comments">
				<h2>Leave a comment</h2>
				<p>@TODO some mechanism for this</p>
			</div-->
		</article>
	{% endfor %}
</div>


{% endblock %}