{% extends 'blog/base.html' %}
{% block content %}

<div class="left-col">
	<h1 class="archive-title"> {{ tag }} </h1>
	<div class="archive-wrapper">
		{% for article in archive_list %}
			<article class="archive-block">
				<header>
					<a class="title" href="{% url 'blog:article' article.machine_name %}">
						<div class="image">
							{% load static %}
							<img src="{{ article.header_image_small.url }}" alt="{{ article.headline }}}"></img>
						</div>
						<h1>{{ article.headline }}</h1>
					</a>
				</header>

				<div class="content">
					{{ article.teaser | safe }}
				</div>

				<footer>
					<div class="by-line">
						<a href="/" class="author">{{ article.author }}</a>
						<span class="date">{{ article.pub_date }}</span> 
					</div>
				</footer>
			</article>
		{% endfor %}
	</div>
</div>


{% endblock %}