{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/tuffing/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'tuffing/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tuffing/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tuffing/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'tuffing/images/favicons/site.webmanifest' %}/static/tuffing/images/favicons/">
    <link rel="mask-icon" href="{% static 'tuffing/images/favicons/apple-touch-icon.png safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'tuffing/images/favicons/favicon.ico' %}">
    
    <meta name="msapplication-TileColor" content="#f9f9f9">
    <meta name="msapplication-config" content="{% static 'tuffing/images/favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="{{description|striptags}}">
</head>
<body>

    <header id="Masthead">
        <a class="logo" href="/"><img src="/static/tuffing/images/mr-man.png" height="60" alt="Tuffing logo" /> A Tuffing <span class="trim">Blog</span></a>


        <div class="social-media">
            <a href="/"><img src="/static/tuffing/images/social-media/github.png" height="50" width="50" alt="View Logans Github account" /></a>
            <a href="/"><img src="/static/tuffing/images/social-media/linkedin.png" height="50" width="50" alt="View Logans Linkedin page" /></a>
            <a href="/"><img src="/static/tuffing/images/social-media/twitter.png" height="50" width="50" alt="View Tuffing Blogs twitter feed" /></a>
        </div>

        <div id="CodeDecoration" aria-hidden="true">
<pre>
    <span class="prime">var</span> <span class="function-name">helloBlog</span> = <span class="prime">function</span>(<span class="parameter">blogName</span> = <span class="string">'Tuffings Blog'</span>, <span class="parameter">repeatX</span> = <span class="number">1000</span>) {
        <span class="loop">for</span> (var i =  <span class="number">0</span>; i < repeatX; i++) {
            str = str + i;
            <span class="prime">console.log</span>('Hello from ' + blogName);
        }
    }
</pre>
        </div>
    </header>


    <div class="body-wrapper">  
        {% block content %}
        {% endblock %}

        {% block sidebar %}
            <div class="right-col">
                <div id="Sidebar">
                    <section class="share-post">
                        <h1>Follow A Tuffing Blog</h1>
                        <div class="content">
                            <a href="/"><img src="/static/tuffing/images/social-media/github.png" height="40" width="40" alt="View Logans Github account" /></a>
                            <a href="/"><img src="/static/tuffing/images/social-media/linkedin.png" height="40" width="40" alt="View Logans Linkedin page" /></a>
                            <a href="/"><img src="/static/tuffing/images/social-media/twitter.png" height="40" width="40" alt="View Tuffing Blogs twitter feed" /></a>
                        </div>
                    </section>

                    <section class="recent-articles">
                        <h1>Recent Articles</h1>
                        <ul>
                            {% for article in latest_articles %}
                                <li><a href="{% url 'blog:article' article.machine_name %}">{{article.headline}}</a></li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section class="archive-tags">
                        <h1>Archive</h1>

                        <ul>
                            <li class="pill pill-emphasis"><a href="{% url 'blog:archive' 'all' %}">All</a></li>
                            {% for tag in tags %}
                                <li class="pill"><a href="{% url 'blog:archive' tag.name %}">{{tag.name}}</a></li>
                            {% endfor %}
                        </ul>

                    </section>
                </div>
            </div>
        {% endblock %}
    </div>

    <footer id="Keel">
        <div class="keel-wrapper">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/archive/all">Archive</a></li>
                </ul>
            </nav>

            <div class="copyright">
                <a href="/">A Tuffing Blog</a> All rights reserved.
            </div>
        </div>
    </footer>



    <!--javascript imports -->
    <script type="text/javascript" src="{% static 'tuffing/js/lazyload-new-articles.js' %}"></script>
</body>
</html>