{% extends 'blog/base.html' %}
{% block content %}

<div class="left-col">
	<article class="article-post">
		<header>
			<a class="title" href="{% url 'blog:article' latest.machine_name %}">
				<div class="image">
					{% load static %}
					<img src="{{ latest.header_image.url }}" alt="{{ latest.headline }}}"></img>
				</div>
				<h1>{{ latest.headline }}</h1>
			</a>
			<div class="by-line">
				Written By
				<a href="/" class="author">{{ latest.author }}</a>
				on
				<span class="date">{{ latest.pub_date }}</span> 
			</div>
		</header>

		<div class="content">
			{{ latest.body | safe }}
		</div>

		<div class="share-post">

			<h3>Share:</h3> 
			<ul>
				<li class="pill"><a href"/">Facebook</a></li>
				<li class="pill"><a href"/">Twitter</a></li>
				<li class="pill"><a href"/">LinkedIn</a></li>
			</ul>

		</div>

		<div class="comments">
			<h2>Leave a comment</h2>
			<p>@TODO some mechanism for this</p>
		</div>
	</article>
</div>


{% endblock %}